{% extends 'base.html' %}

{% block content %}
    
    <div class="p-3 text-dark font-weight-bold text-center"><h1>Add student</h1></div>
    {% if success %}
    <div class="alert alert-success">New student was successfully registered
        <a href="{% url 'index' %}" class="alert-link">Go back to home page</a> or <a href="{% url 'add' %}" class="alert-link">Add another student</a>
    </div>
    {% else %}
    <div class="d-flex flex-column container-fluid text-center col-12 col-md-8 col-xl-4 scroll-top-margin" id="contact">
		<div class="bg-dark text-light p-3">
			<form method="POST">
              {% csrf_token %}
			  <div class="form-group">
			  	<label for="name">Name</label>
			  	<input type="text" id="name" name="name" class="form-control" required>
			  </div>
			  <div class="form-group">
			    <label for="rollNo">Roll No.</label>
			    <input type="text" id="rollNo" name="rollNo" class="form-control" required>
			  </div>
			  <div class="form-group">
			    <label for="department">Department</label>
			    <input type="text" id="department" name="department" class="form-control" required>
			  </div>
			  <div class="form-group">
			      <label for="hostel">Hostel No.</label>
			      <input type="number" id="hostel" id="hostel" name="hostel" class="form-control" required></input>
			  </div>
			  <!-- Button trigger modal -->
			  <button type="submit" class="btn btn-danger my-3">
			    Save
			  </button>
			</form>
		</div>
        {% endif %}
	</div>

{% endblock %}
